.w-10{
    width: 10%;
}

.card-body {
    position: relative;
 }

 .btn {
    position: absolute;
    bottom: 0;
    right: 0;
 }

 .bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
 }